@charset "UTF-8";
body{
    background-image: linear-gradient(to right, rgb(88, 87, 87), gray,  rgb(212, 210, 210));
}
div{
    background-image: linear-gradient(to right, #A56A05, #F7CA0B, #A56A05);
}
div:hover{
    color: rgb(118, 85, 4);
}
