@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(206, 173, 75);
}

header{
    text-align: justify;
    background-image: linear-gradient(to bottom, rgb(99, 4, 4), rgba(146, 26, 26, 0.746));
    padding: 40px;
}
header h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(240, 180, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
    padding-bottom: 10px;
}
header p{
    text-align: center;
    font-size: 25px;
    color: rgba(240, 180, 1, 0.87);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.743);
    padding-top: 15px;
}
nav{
    box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.719);
    background-color: rgba(146, 26, 26, 0.746);
    padding: 10px;
}
nav a{
    color: rgb(240, 180, 1);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.341);
    transition-duration: .8s;
    border-radius: 6px;
}
nav a:hover{
    background-image: linear-gradient(to bottom, brown, rgb(109, 23, 23));

}

main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(232, 181, 79);
    text-align: justify;
}
main h1{
    color: rgba(45, 44, 44, 0.954);
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
}
main h2{
    padding: 25px 0px 25px 200px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
    color: rgba(45, 44, 44, 0.954);

}
main h3{
    padding: 5px 0px 5px 125px;
    font-size: 25px;
    color: rgba(45, 44, 44, 0.954);
}
main h4{    
    padding: 5px 5px 10px 70px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
    color: rgba(45, 44, 44, 0.954);
}
main p{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
    color: rgba(14, 11, 11, 0.954);
    padding: 5px 50px 10px 50px;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
}

/* BOX ABERTURAS PEÇAS BRANCAS*/
aside{
    margin: 30px 80px 30px 80px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(176, 21, 21, 0.766);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.442);

}
/*LISTA DE ABERTURA DAS PEÇAS BRANCAS*/
aside > ul{
    list-style-position: inside;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    columns: 1;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
     margin: 30px 80px 30px 80px;

}
/*QUANDO PASSAR O MOUSE SOBRE LISTA DAS PEÇAS BRANCAS*/
aside > ul > li:hover{
    background-image: linear-gradient(to bottom, rgb(197, 37, 37), rgb(109, 23, 23));
    margin: 0px 400px 0px 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.272);
    border-radius: 8px;
    color: black;
    text-decoration: none;

}
  /*BOX DO CABEÇALHO ABERTURA PEÇAS BRANCAS*/
section{
    padding: 5px 5px 10px 50px;
    background-color: rgba(181, 5, 5, 0.871);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(238, 160, 4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.272);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.793);
    font-size: 25px;
}
/*ESCRITA "ABERTURA PEÃO DO REI" (BRANCAS)*/
.peaorei{
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.886);
    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.285);
}
/*ESCRITA "ABERTURA PEÃO DA DAMA" (BRANCAS)*/
.peaodama{
    color: rgba(0, 0, 0, 0.886);
    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
}

/*BOX CABEÇALHO LISTA DE ABERTURA DAS PEÇAS PRETAS*/
article {
    margin: 30px 80px 30px 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(249, 92, 1);
    padding: 5px 5px 10px 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.261);
    

}
/*ESCRITA DO CABEÇALHO DE ABERTURA PEÇAS PRETAS*/
article > h3{
    padding-left: 10px;
    color: rgb(110, 3, 3);
    text-shadow: 1px 1px 5px rgba(110, 3, 3, 0.56);
}
/*BOX LISTA DE ABERTURA PEÇAS PRETAS*/
div{  
    background-color: rgb(245, 156, 2);
    margin: -30px 80px 30px 80px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.262);
    padding-bottom: 20px;
}
/*LISTA DE ABERTURA PEÇAS PRETAS*/
div > ul{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-position: inside;
    columns: 1;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
}

div > ul > li:hover{
    background-image: linear-gradient(to bottom, rgb(254, 107, 3), rgb(223, 106, 23));
    margin: 0px 450px 0px 450px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.272);
    border-radius: 8px;
    color: black;
    text-decoration: none;
    text-align: center;
}
div > ul > li > a{
    text-decoration: none;
    color: black;
}
/*ESCRITA "ABERTURA PEÃO DO REI" (PRETAS)*/
.peaoreip{
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.886);
    font-size: 25px;
     margin: 0px 80px 30px 10px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
    
}
/*ESCRITA "ABERTURA PEÃO DA DAMA" (PRETAS)*/
.peaodamap{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.886);
    font-size: 25px;
     margin: 0px 80px 30px 10px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.287);
     
}
.magoderiga{
    color: black;
    text-decoration: none;
}
.titulopintado{
    background-image: linear-gradient(to right,rgb(232, 181, 79),orange, orange, rgb(232, 181, 79));
}
footer{
    text-align: center;
    background-color: brown;
    color: rgb(250, 146, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rodolfogaraluz{
    color: rgb(250, 146, 1);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 1px;
}
.rodolfogaraluz:hover{
    text-decoration: underline;
}

    