@charset 'UTF-8';
body{
    background-color: rgb(27, 26, 26);
    margin: 0px;
}


header{
    background-image: linear-gradient(to bottom, blue, black);
    box-shadow: 1px 1px 5px black;
}

nav > p {
    background-color: black;
    margin: 0px;
    padding-bottom: 5px;
    
}
nav > p > a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

header > h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    font-size: 3em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.375);
}
/*MENU DO SITE*/ 
header > p{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.3em;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px black;
}
/*LINKS, SAIBA MAIS */
nav > p >a:hover{
    box-shadow: 1px 2px 5px rgba(0, 0, 255, 0.418);
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(76, 76, 232), rgb(32, 31, 31));
    transition-duration: 1ms;
}
main{
    margin: auto;
    background-color: rgba(9, 1, 31, 0.759);
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

/* FOTO PERFIL */
article{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
}
div{
    margin-left: 130px;
    margin-top: -80px;
}
div > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 231);
}
div > h1 > a{
    color: rgb(53, 53, 231);
    text-decoration: none;
}
a > abbr{
    text-decoration: none;
}
div > h1 > a:hover{
    color: rgb(149, 149, 221);
    border-color: rgb(17, 17, 53);
}
section{
    border-radius: 10px;
    width: 500px;
    height: 110px;
    background-color: rgb(130, 124, 124);
    margin-left: 100px;
}
section > p{
    color: rgb(33, 1, 1);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px 20px 20px;
}
